In [1]:
import pandas as pd

In [2]:
orig_df = pd.DataFrame(data={"a": [1, 2], "b": ["c", "d"]})

In [3]:
new_df = orig_df[orig_df["b"].isin(["c"])]

In [4]:
new_df["new_col"] = 456

/Users/vietlq/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [5]:
good_new_df = orig_df[orig_df["b"].isin(["c"])].copy()

In [6]:
good_new_df["new_col"] = 456

In [7]:
orig_df

   a  b
0  1  c
1  2  d

In [8]:
new_df

   a  b  new_col
0  1  c      456

In [9]:
good_new_df

   a  b  new_col
0  1  c      456